WCF Client Diagnostic/Service References/refwcf/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFservice_diagnostic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFservice_diagnostic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Enums">
    <xs:sequence>
      <xs:element minOccurs="0" name="All" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fueltypeenum" type="tns:Fueltypeenum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Enums" nillable="true" type="tns:Enums" />
  <xs:simpleType name="Fueltypeenum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PB" />
      <xs:enumeration value="LPG" />
      <xs:enumeration value="Diesel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Fueltypeenum" nillable="true" type="tns:Fueltypeenum" />
</xs:schema>