WCF Client Diagnostic/Service References/refwcf/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFservice_diagnostic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFservice_diagnostic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="condition" type="tns:CarCondition" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:simpleType name="CarCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Used" />
      <xs:enumeration value="Rental" />
      <xs:enumeration value="Broken" />
      <xs:enumeration value="Stolen" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CarCondition" nillable="true" type="tns:CarCondition" />
</xs:schema>